* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/*sizing multiply by 1.54*/

body {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  background-color: #b5b5b5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  gap: 7px;
  margin-bottom: 100px;
}

.nav-icon {
  width: 37px;
  height: 37px;
}

.nav-text {
  font-weight: 500;
  font-size: 21px;
  line-height: 17px;
  letter-spacing: -0.075em;
}

.hero {
  display: flex;
  align-items: center;
  padding: 0 62px;
  padding-bottom: 55px;
  justify-content: center;
}

.hero-img {
  width: 193px;
  height: 259px;
  border-radius: 5px;
}

.hero-text {
  padding-left: 29px;
}

.location {
  margin-bottom: 11px;
}

.map-icon {
  width: 11px;
  height: 15px;
  margin-bottom: 0;
  margin-right: 6px;
}

.city {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.26em;
  color: #2b283a;
  margin-right: 18px;
}

.location > a {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #918e9b;
}

.location-name {
  font-weight: 700;
  font-size: 39px;
  line-height: 46px;
  color: #2b283a;
  margin-bottom: 20px;
  width: 502px;
}

.date {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #2b283a;
  margin-bottom: 14px;
}

.description {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #2b283a;
  width: 502px;
}