* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  background-color: #b5b5b5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  gap: 7px
}

.nav-icon {
  width: 37px;
  height: 37px;
}

.nav-text {
  font-weight: 500;
  font-size: 21px;
  line-height: 17px;
  letter-spacing: -0.075em;
}